@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	flex-direction: column;
	justify-content: center;
	display: flex;
}

header {
	flex: 1 0 160px;
	display: flex;
	/* align-items: center;*/
	align-items: flex-end;
	flex-direction: column;
	margin: 0;
	padding: 20px 0;
}

.header-top {
	right: 0;
	padding: 10px;
	/*
	text-align: right;
	justify-content: flex-end;
	*/
}

.header-top a p {
	padding: 5px 0;
	width: 100px;
}

.header-middle {
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 160px;
	flex: 2;
}

.header-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	flex: 1;
}

main {
	flex: 8;
}

section {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	height: 100vh;
}

.menu ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.menu a {
	text-decoration: none;
	padding: 10px 5px 5px 35px;
	display: block;
}

.flex-container {
	height: 100%;
	display: flex;
}

.flex-item {
	flex: 1;
	flex-direction: column;
	display: flex;
}

.flex-item-child {
	margin: 100px;
	padding: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.f_wrap {
	height: 100px;
	display: flex;
	flex-direction: column;
	margin-top: auto;
}

footer {
	height: 160px;
	background-color: #030;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ccc;
	flex-direction: column;
}

footer p {
	padding: 10px 0 0 0;
}